# Wine(红酒数据集)

In [1]:
import pandas as pd
import numpy as np

### 读取数据

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(url)
wine.head(5)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
#读取数据

#显示数据前几行

### Step 1. 删除第1,4,7,9,12,13,14列

In [4]:
wine.drop(wine.iloc[:,[0,3,6,8,11,12,13]],axis = 1,inplace = True)

In [5]:
wine.head(5)

   14.23  1.71  15.6  127  3.06  2.29  5.64
0  13.20  1.78  11.2  100  2.76  1.28  4.38
1  13.16  2.36  18.6  101  3.24  2.81  5.68
2  14.37  1.95  16.8  113  3.49  2.18  7.80
3  13.24  2.59  21.0  118  2.69  1.82  4.32
4  14.20  1.76  15.2  112  3.39  1.97  6.75

In [6]:
# 删除列

#查看数据

### Step 5. 列命名:
 
1) alcohol 酒精度 
2) malic_acid 苹果酸 
3) alcalinity_of_ash 碱度
4) magnesium  Mg含量
5) flavanoids  黄酮类化合物
6) proanthocyanins 花青素 
7) hue 色度

In [7]:
wine.columns

Index(['14.23', '1.71', '15.6', '127', '3.06', '2.29', '5.64'], dtype='object')

In [8]:
columns = ['酒精度','苹果酸','碱度','Mg含量','黄酮类化合物','花青素','色度']
columns

['酒精度', '苹果酸', '碱度', 'Mg含量', '黄酮类化合物', '花青素', '色度']

In [9]:
wine.columns = columns

In [10]:
wine.head(5)

     酒精度   苹果酸    碱度  Mg含量  黄酮类化合物   花青素    色度
0  13.20  1.78  11.2   100    2.76  1.28  4.38
1  13.16  2.36  18.6   101    3.24  2.81  5.68
2  14.37  1.95  16.8   113    3.49  2.18  7.80
3  13.24  2.59  21.0   118    2.69  1.82  4.32
4  14.20  1.76  15.2   112    3.39  1.97  6.75

In [11]:
# 添加列名,可用中文,也可以用英文

### 把酒精度的前三行数据设为空值

In [12]:
import warnings
warnings.filterwarnings(action = "ignore")
wine['酒精度'][0:3] = np.nan
wine.head(5)

     酒精度   苹果酸    碱度  Mg含量  黄酮类化合物   花青素    色度
0    NaN  1.78  11.2   100    2.76  1.28  4.38
1    NaN  2.36  18.6   101    3.24  2.81  5.68
2    NaN  1.95  16.8   113    3.49  2.18  7.80
3  13.24  2.59  21.0   118    2.69  1.82  4.32
4  14.20  1.76  15.2   112    3.39  1.97  6.75

In [13]:
#索引或切片数据然后赋值

# 显示数据

### 把镁离子含量列的第3,4两行值设为空值

In [14]:
wine['Mg含量'][2:4] = np.nan
wine.head(5)

     酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
0    NaN  1.78  11.2  100.0    2.76  1.28  4.38
1    NaN  2.36  18.6  101.0    3.24  2.81  5.68
2    NaN  1.95  16.8    NaN    3.49  2.18  7.80
3  13.24  2.59  21.0    NaN    2.69  1.82  4.32
4  14.20  1.76  15.2  112.0    3.39  1.97  6.75

In [15]:
#索引或切片数据然后赋值

#显示数据

### Step 8.把酒精度列的空值填充为10,把镁离子浓度列的空值填充为100

In [16]:
wine.fillna({"酒精度":10,
             "Mg含量":100},
            inplace = False)

       酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素     色度
0    10.00  1.78  11.2  100.0    2.76  1.28   4.38
1    10.00  2.36  18.6  101.0    3.24  2.81   5.68
2    10.00  1.95  16.8  100.0    3.49  2.18   7.80
3    13.24  2.59  21.0  100.0    2.69  1.82   4.32
4    14.20  1.76  15.2  112.0    3.39  1.97   6.75
..     ...   ...   ...    ...     ...   ...    ...
172  13.71  5.65  20.5   95.0    0.61  1.06   7.70
173  13.40  3.91  23.0  102.0    0.75  1.41   7.30
174  13.27  4.28  20.0  120.0    0.69  1.35  10.20
175  13.17  2.59  20.0  120.0    0.68  1.46   9.30
176  14.13  4.10  24.5   96.0    0.76  1.35   9.20

[177 rows x 7 columns]

In [17]:
wine.head(5)

     酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
0    NaN  1.78  11.2  100.0    2.76  1.28  4.38
1    NaN  2.36  18.6  101.0    3.24  2.81  5.68
2    NaN  1.95  16.8    NaN    3.49  2.18  7.80
3  13.24  2.59  21.0    NaN    2.69  1.82  4.32
4  14.20  1.76  15.2  112.0    3.39  1.97  6.75

In [18]:
# 填充酒精度

# 填充镁离子浓度

wine.head()

     酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
0    NaN  1.78  11.2  100.0    2.76  1.28  4.38
1    NaN  2.36  18.6  101.0    3.24  2.81  5.68
2    NaN  1.95  16.8    NaN    3.49  2.18  7.80
3  13.24  2.59  21.0    NaN    2.69  1.82  4.32
4  14.20  1.76  15.2  112.0    3.39  1.97  6.75

### Step 9. 查看空值数量

In [19]:
pd.isnull(wine).sum()

酒精度       3
苹果酸       0
碱度        0
Mg含量      2
黄酮类化合物    0
花青素       0
色度        0
dtype: int64

In [20]:
#isnull

In [21]:
random = np.random.randint(10, size = 10)
random

array([7, 8, 9, 8, 7, 8, 9, 8, 7, 8])

### Step 11.  构造一个随机整数数组(范围为0-10),把酒精度对应的行设为空值

In [22]:
r = np.random.randint(0,11,10)

In [23]:
r

array([4, 3, 8, 3, 5, 6, 0, 1, 4, 9])

In [24]:
wine['酒精度'][r] = np.nan

In [25]:
pd.isnull(wine).sum()

酒精度       9
苹果酸       0
碱度        0
Mg含量      2
黄酮类化合物    0
花青素       0
色度        0
dtype: int64

In [26]:
#生成一个整数随机数组,范围0-10

#把随机数作为索引更改酒精对应的数据为空值

#查看空值数量

#查看数据

### 删除含有空值的行

In [27]:
wine.dropna(how = 'any',inplace = True)

In [28]:
wine['酒精度'] != np.nan

7      True
10     True
11     True
12     True
13     True
       ...
172    True
173    True
174    True
175    True
176    True
Name: 酒精度, Length: 168, dtype: bool

In [29]:
pd.isnull(wine.sum())

酒精度       False
苹果酸       False
碱度        False
Mg含量      False
黄酮类化合物    False
花青素       False
色度        False
dtype: bool

In [30]:
# dropna删除操作

# 查看数据
wine.head()

      酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素   色度
7   14.83  1.64  14.0   97.0    2.98  1.98  5.2
10  14.12  1.48  16.8   95.0    2.43  1.57  5.0
11  13.75  1.73  16.0   89.0    2.76  1.81  5.6
12  14.75  1.73  11.4   91.0    3.69  2.81  5.4
13  14.38  1.87  12.0  102.0    3.64  2.96  7.5

In [31]:
wine.酒精度 != np.nan

7      True
10     True
11     True
12     True
13     True
       ...
172    True
173    True
174    True
175    True
176    True
Name: 酒精度, Length: 168, dtype: bool

### 找到酒精度非空数据

In [32]:
wine[wine['酒精度'] != np.nan]

       酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
7    14.83  1.64  14.0   97.0    2.98  1.98   5.2
10   14.12  1.48  16.8   95.0    2.43  1.57   5.0
11   13.75  1.73  16.0   89.0    2.76  1.81   5.6
12   14.75  1.73  11.4   91.0    3.69  2.81   5.4
13   14.38  1.87  12.0  102.0    3.64  2.96   7.5
..     ...   ...   ...    ...     ...   ...   ...
172  13.71  5.65  20.5   95.0    0.61  1.06   7.7
173  13.40  3.91  23.0  102.0    0.75  1.41   7.3
174  13.27  4.28  20.0  120.0    0.69  1.35  10.2
175  13.17  2.59  20.0  120.0    0.68  1.46   9.3
176  14.13  4.10  24.5   96.0    0.76  1.35   9.2

[168 rows x 7 columns]

In [33]:
wine[wine.notnull()]

       酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
7    14.83  1.64  14.0   97.0    2.98  1.98   5.2
10   14.12  1.48  16.8   95.0    2.43  1.57   5.0
11   13.75  1.73  16.0   89.0    2.76  1.81   5.6
12   14.75  1.73  11.4   91.0    3.69  2.81   5.4
13   14.38  1.87  12.0  102.0    3.64  2.96   7.5
..     ...   ...   ...    ...     ...   ...   ...
172  13.71  5.65  20.5   95.0    0.61  1.06   7.7
173  13.40  3.91  23.0  102.0    0.75  1.41   7.3
174  13.27  4.28  20.0  120.0    0.69  1.35  10.2
175  13.17  2.59  20.0  120.0    0.68  1.46   9.3
176  14.13  4.10  24.5   96.0    0.76  1.35   9.2

[168 rows x 7 columns]

In [34]:
# bool索引找到酒精度为非空的数据
# 方法一,用!=np.nan判断

#方法二,用notnull()方法判断

In [35]:
wine

       酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
7    14.83  1.64  14.0   97.0    2.98  1.98   5.2
10   14.12  1.48  16.8   95.0    2.43  1.57   5.0
11   13.75  1.73  16.0   89.0    2.76  1.81   5.6
12   14.75  1.73  11.4   91.0    3.69  2.81   5.4
13   14.38  1.87  12.0  102.0    3.64  2.96   7.5
..     ...   ...   ...    ...     ...   ...   ...
172  13.71  5.65  20.5   95.0    0.61  1.06   7.7
173  13.40  3.91  23.0  102.0    0.75  1.41   7.3
174  13.27  4.28  20.0  120.0    0.69  1.35  10.2
175  13.17  2.59  20.0  120.0    0.68  1.46   9.3
176  14.13  4.10  24.5   96.0    0.76  1.35   9.2

[168 rows x 7 columns]

In [38]:
wine.reset_index()

     index    酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
0        7  14.83  1.64  14.0   97.0    2.98  1.98   5.2
1       10  14.12  1.48  16.8   95.0    2.43  1.57   5.0
2       11  13.75  1.73  16.0   89.0    2.76  1.81   5.6
3       12  14.75  1.73  11.4   91.0    3.69  2.81   5.4
4       13  14.38  1.87  12.0  102.0    3.64  2.96   7.5
..     ...    ...   ...   ...    ...     ...   ...   ...
163    172  13.71  5.65  20.5   95.0    0.61  1.06   7.7
164    173  13.40  3.91  23.0  102.0    0.75  1.41   7.3
165    174  13.27  4.28  20.0  120.0    0.69  1.35  10.2
166    175  13.17  2.59  20.0  120.0    0.68  1.46   9.3
167    176  14.13  4.10  24.5   96.0    0.76  1.35   9.2

[168 rows x 8 columns]

In [39]:
wine

       酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素    色度
7    14.83  1.64  14.0   97.0    2.98  1.98   5.2
10   14.12  1.48  16.8   95.0    2.43  1.57   5.0
11   13.75  1.73  16.0   89.0    2.76  1.81   5.6
12   14.75  1.73  11.4   91.0    3.69  2.81   5.4
13   14.38  1.87  12.0  102.0    3.64  2.96   7.5
..     ...   ...   ...    ...     ...   ...   ...
172  13.71  5.65  20.5   95.0    0.61  1.06   7.7
173  13.40  3.91  23.0  102.0    0.75  1.41   7.3
174  13.27  4.28  20.0  120.0    0.69  1.35  10.2
175  13.17  2.59  20.0  120.0    0.68  1.46   9.3
176  14.13  4.10  24.5   96.0    0.76  1.35   9.2

[168 rows x 7 columns]

### 重设索引

In [121]:
wine.index = np.arange(wine.shape[0])

In [122]:
wine

       酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素     色度
0    14.39  1.87  14.6   96.0    2.52  1.98   5.25
1    14.06  2.15  17.6  121.0    2.51  1.25   5.05
2    13.75  1.73  16.0   89.0    2.76  1.81   5.60
3    14.75  1.73  11.4   91.0    3.69  2.81   5.40
4    14.38  1.87  12.0  102.0    3.64  2.96   7.50
..     ...   ...   ...    ...     ...   ...    ...
163  13.71  5.65  20.5   95.0    0.61  1.06   7.70
164  13.40  3.91  23.0  102.0    0.75  1.41   7.30
165  13.27  4.28  20.0  120.0    0.69  1.35  10.20
166  13.17  2.59  20.0  120.0    0.68  1.46   9.30
167  14.13  4.10  24.5   96.0    0.76  1.35   9.20

[168 rows x 7 columns]

In [20]:
# reset_index()

       酒精度   苹果酸    碱度   Mg含量  黄酮类化合物   花青素         色度
0      NaN  1.78  11.2  100.0    2.76  1.28   4.380000
1      NaN  2.36  18.6  101.0    3.24  2.81   5.680000
2      NaN  1.95  16.8    NaN    3.49  2.18   7.800000
3      NaN  2.59  21.0    NaN    2.69  1.82   4.320000
4    14.20  1.76  15.2  112.0    3.39  1.97   6.750000
5      NaN  1.87  14.6   96.0    2.52  1.98   5.250000
6      NaN  2.15  17.6  121.0    2.51  1.25   5.050000
7      NaN  1.64  14.0   97.0    2.98  1.98   5.200000
8      NaN  1.35  16.0   98.0    3.15  1.85   7.220000
9    14.10  2.16  18.0  105.0    3.32  2.38   5.750000
10   14.12  1.48  16.8   95.0    2.43  1.57   5.000000
11   13.75  1.73  16.0   89.0    2.76  1.81   5.600000
12   14.75  1.73  11.4   91.0    3.69  2.81   5.400000
13   14.38  1.87  12.0  102.0    3.64  2.96   7.500000
14   13.63  1.81  17.2  112.0    2.91  1.46   7.300000
15   14.30  1.92  20.0  120.0    3.14  1.97   6.200000
16   13.83  1.57  20.0  115.0    3.40  1.72   6.600000
17   14.19  1.59  16.5  108.0    3.93  1.86   8.700000
18   13.64  3.10  15.2  116.0    3.03  1.66   5.100000
19   14.06  1.63  16.0  126.0    3.17  2.10   5.650000
20   12.93  3.80  18.6  102.0    2.41  1.98   4.500000
21   13.71  1.86  16.6  101.0    2.88  1.69   3.800000
22   12.85  1.60  17.8   95.0    2.37  1.46   3.930000
23   13.50  1.81  20.0   96.0    2.61  1.66   3.520000
24   13.05  2.05  25.0  124.0    2.68  1.92   3.580000
25   13.39  1.77  16.1   93.0    2.94  1.45   4.800000
26   13.30  1.72  17.0   94.0    2.19  1.35   3.950000
27   13.87  1.90  19.4  107.0    2.97  1.76   4.500000
28   14.02  1.68  16.0   96.0    2.33  1.98   4.700000
29   13.73  1.50  22.5  101.0    3.25  2.38   5.700000
..     ...   ...   ...    ...     ...   ...        ...
147  13.32  3.24  21.5   92.0    0.76  1.25   8.420000
148  13.08  3.90  21.5  113.0    1.39  1.14   9.400000
149  13.50  3.12  24.0  123.0    1.57  1.25   8.600000
150  12.79  2.67  22.0  112.0    1.36  1.26  10.800000
151  13.11  1.90  25.5  116.0    1.28  1.56   7.100000
152  13.23  3.30  18.5   98.0    0.83  1.87  10.520000
153  12.58  1.29  20.0  103.0    0.58  1.40   7.600000
154  13.17  5.19  22.0   93.0    0.63  1.55   7.900000
155  13.84  4.12  19.5   89.0    0.83  1.56   9.010000
156  12.45  3.03  27.0   97.0    0.58  1.14   7.500000
157  14.34  1.68  25.0   98.0    1.31  2.70  13.000000
158  13.48  1.67  22.5   89.0    1.10  2.29  11.750000
159  12.36  3.83  21.0   88.0    0.92  1.04   7.650000
160  13.69  3.26  20.0  107.0    0.56  0.80   5.880000
161  12.85  3.27  22.0  106.0    0.60  0.96   5.580000
162  12.96  3.45  18.5  106.0    0.70  0.94   5.280000
163  13.78  2.76  22.0   90.0    0.68  1.03   9.580000
164  13.73  4.36  22.5   88.0    0.47  1.15   6.620000
165  13.45  3.70  23.0  111.0    0.92  1.46  10.680000
166  12.82  3.37  19.5   88.0    0.66  0.97  10.260000
167  13.58  2.58  24.5  105.0    0.84  1.54   8.660000
168  13.40  4.60  25.0  112.0    0.96  1.11   8.500000
169  12.20  3.03  19.0   96.0    0.49  0.73   5.500000
170  12.77  2.39  19.5   86.0    0.51  0.64   9.899999
171  14.16  2.51  20.0   91.0    0.70  1.24   9.700000
172  13.71  5.65  20.5   95.0    0.61  1.06   7.700000
173  13.40  3.91  23.0  102.0    0.75  1.41   7.300000
174  13.27  4.28  20.0  120.0    0.69  1.35  10.200000
175  13.17  2.59  20.0  120.0    0.68  1.46   9.300000
176  14.13  4.10  24.5   96.0    0.76  1.35   9.200000

[177 rows x 7 columns]